#editor {
  margin: 0;
  color: #FFF;
  background-color: #00C;
}

div#mainPanel,div#sidebar {
  display: inline-flex;
  vertical-align: top;
  padding: 0 5px;
}
div#mainPanel>div#sidebar{
  width: min-content;
}


code {
  color: #f66;
}